#calendar, div.twocol div.left, div.twocol div.right {
  -moz-box-shadow: 3px 3px 8px #ccc;
  -webkit-box-shadow: 3px 3px 8px #ccc;
  box-shadow: 3px 3px 8px #ccc;
  margin-bottom: 1em; }

body, div {
  box-sizing: border-box; }

p {
  text-align: left;
  margin: 1em 0; }

h1 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.5em;
  font-style: italic;
  margin: 0; }

h2 {
  margin: 0.5em 0; }

#main {
  position: relative;
  display: flex;
  flex-direction: row;
  padding: 0; }
  #main > div.left {
    width: 100%;
    position: relative;
    vertical-align: top;
    padding: 0 245px 0 10px; }
  #main > div.right {
    position: absolute;
    top: 0;
    right: 245px; }
  #main .sidebar {
    position: absolute;
    top: 0;
    right: 0;
    width: 235px;
    padding: 0 10px 0 0; }
  #main div.twocol {
    padding: 10px 0 0 0; }
  #main .control {
    text-align: center;
    margin: 0.25em 0 0.5em 0;
    width: 100px; }

#calendar {
  width: 100%;
  margin: 10px 0 0 0;
  background-color: #f2f2f2;
  border: 1px #cccccc solid;
  padding: 6px 4px 0 4px; }
  #calendar .fc-toolbar {
    text-align: left;
    padding-left: 0.3rem; }

div.twocol {
  width: 100%;
  display: flex;
  flex-direction: row;
  padding: 10px 10px 0 10px;
  margin: 0; }
  div.twocol h2 {
    margin: 0;
    padding: 10px; }
  div.twocol div.left, div.twocol div.right {
    border: 1px #cccccc solid;
    padding: 0;
    width: 50%;
    margin: 0; }
  div.twocol div.left {
    margin-right: 5px; }
  div.twocol div.right {
    margin-left: 5px; }

footer {
  clear: both;
  border-top: 1pt solid #000000;
  font-style: italic;
  padding: 0 10px; }

.email {
  font-size: smaller; }

.lists {
  padding: 0; }
  .lists h2 {
    font-family: sans-serif;
    font-size: 1.3em;
    border-bottom: none;
    padding: 0;
    background: #f2f2f2; }
    .lists h2 img {
      display: none;
      vertical-align: middle; }
  .lists li {
    font-size: 1em;
    margin-right: 10pt; }
  .lists span.staff-note {
    font-size: 0.7em;
    font-style: italic;
    white-space: nowrap; }

.lists > ul > li {
  list-style-image: url("images/bullet1.png");
  margin-top: 0px;
  margin-bottom: 0px; }

.lists ul li.star {
  list-style-image: url("images/star.png");
  margin-top: 0px;
  margin-bottom: 0px; }

.lists ol li img, .lists ul li img {
  vertical-align: top;
  border: 0px; }

.lists ol li ul li {
  list-style-image: url("images/ttbullet.png");
  margin-top: 0px;
  margin-bottom: 0px; }

.lists ul li ul li, .lists ol li ul li.bullet, li.bullet {
  list-style-image: url("images/bullet.png");
  margin-top: 0px;
  margin-bottom: 0px; }

img.homeicon {
  vertical-align: middle; }

.lists ul li .additional {
  color: #008080;
  padding-left: 20px;
  font-style: italic;
  margin-top: 0;
  margin-bottom: 0; }

.lists ol li ul, .lists ul li ul {
  margin-top: 0;
  margin-bottom: 0; }

#right-column {
  float: right; }

select {
  width: 100px; }

input {
  width: 100px; }

@media only screen and (max-width: 900px) {
  #main {
    width: 100%;
    max-width: 100%; }
    #main .sidebar {
      display: none; }
    #main > div.left {
      width: 100%;
      max-width: 100%;
      box-sizing: border-box;
      display: inline-block;
      padding: 0 10px; }
      #main > div.left div.top {
        padding-right: 100px; }
    #main > div.right {
      display: block;
      padding-right: 0.25em;
      position: absolute;
      top: 0;
      right: 10px; }

  .mobile {
    display: inherit; } }
@media only screen and (max-width: 750px) {
  body {
    width: 100%;
    max-width: 100%; }

  #body {
    width: 100%;
    min-width: initial;
    max-width: 100%;
    font-size: 1em; }

  div.hot {
    width: 90%; }

  #main div.twocol {
    width: calc(100% + 10px);
    margin-left: -5px; }
  #main > div.left {
    padding: 0 5px 0 5px; }
  #main > div.right {
    right: 5px; }

  h1 {
    font-size: 1.3em; }

  h2 {
    font-size: 1.2em; }

  #calendar {
    border: 0;
    box-shadow: none;
    width: calc(100% + 10px);
    margin-left: -5px; }

  #sidebar {
    display: none; }

  .lists h2 {
    font-size: 1.3em; }

  .lists li {
    font-size: 1em; }

  div.twocol {
    display: block;
    position: relative;
    width: 100%;
    clear: both;
    border: 0;
    padding: 5px 0 0 0; }
    div.twocol div.left, div.twocol div.right {
      box-shadow: none;
      display: block;
      width: 100%;
      float: none;
      margin: 0;
      border: 0;
      padding: 0 0 2px 0; }
    div.twocol h2 {
      padding: 5px;
      margin-top: 1px;
      margin-bottom: 1px; } }
.skype {
  padding-left: 10px; }

#start {
  font-size: 2.5em;
  text-align: center; }

/*# sourceMappingURL=coursehome.css.map */
