div.cl-course-home div.cl-calendar, div.cl-course-home div.cl-twocol > div {
  -moz-box-shadow: 3px 3px 8px #ccc;
  -webkit-box-shadow: 3px 3px 8px #ccc;
  box-shadow: 3px 3px 8px #ccc; }

div.cl-course-home {
  padding: 0 0 1em 0; }
  div.cl-course-home div.cl-main {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 0; }
    div.cl-course-home div.cl-main > div:first-child {
      flex: 1 1 auto;
      padding: 0.25em 10px; }
    div.cl-course-home div.cl-main > div:last-child {
      flex: 0 1 225px;
      box-shadow: none; }
      div.cl-course-home div.cl-main > div:last-child iframe {
        box-shadow: none; }
    div.cl-course-home div.cl-main div.cl-controls {
      float: right;
      margin: 0 0 0 10px; }
    @media only screen and (max-width: 900px) {
      div.cl-course-home div.cl-main > div:first-child {
        padding: 0.25em 10px 0.25em 10px; }
      div.cl-course-home div.cl-main > div:nth-child(2) {
        right: 10px; }
      div.cl-course-home div.cl-main > div:last-child {
        display: none; } }
    div.cl-course-home div.cl-main div.cl-twocol {
      padding: 10px 0 0 0; }
    div.cl-course-home div.cl-main p.cl-home-control {
      text-align: center;
      margin: 0.25em 0 0.5em 0;
      width: 100px; }
      div.cl-course-home div.cl-main p.cl-home-control button, div.cl-course-home div.cl-main p.cl-home-control select {
        width: 100%; }
  div.cl-course-home div.cl-calendar {
    width: 100%;
    max-width: 650px;
    margin: 10px auto 0 auto;
    background-color: #f2f2f2;
    border: 1px #cccccc solid;
    padding: 6px 4px 0 4px; }
    div.cl-course-home div.cl-calendar .fc-toolbar {
      text-align: left;
      padding-left: 0.3rem; }
  div.cl-course-home div.cl-twocol {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 10px 10px 0 10px;
    margin: 0; }
    div.cl-course-home div.cl-twocol > div {
      border: 1px #cccccc solid;
      padding: 0;
      width: 50%;
      margin: 0; }
      div.cl-course-home div.cl-twocol > div p {
        padding: 10px; }
    div.cl-course-home div.cl-twocol div:first-child {
      margin-right: 5px; }
    div.cl-course-home div.cl-twocol div:last-child {
      margin-left: 5px; }
  div.cl-course-home div.cl-lists {
    padding: 0; }
    div.cl-course-home div.cl-lists h2 {
      font-family: sans-serif;
      font-size: 1.3em;
      border-bottom: none;
      background: #f2f2f2;
      padding: 10px;
      margin: 0; }
      div.cl-course-home div.cl-lists h2 img {
        display: none;
        vertical-align: middle; }
    div.cl-course-home div.cl-lists li {
      font-size: 1em;
      margin-right: 10pt; }
    div.cl-course-home div.cl-lists span.staff-note {
      font-size: 0.7em;
      font-style: italic;
      white-space: nowrap; }
  @media only screen and (max-width: 900px) {
    div.cl-course-home .mobile {
      display: inherit; } }
  @media only screen and (max-width: 750px) {
    div.cl-course-home body {
      width: 100%;
      max-width: 100%; }
    div.cl-course-home div.hot {
      width: 90%; }
    div.cl-course-home h1 {
      font-size: 1.3em; }
    div.cl-course-home h2 {
      font-size: 1.2em; }
    div.cl-course-home #calendar {
      border: 0;
      box-shadow: none;
      width: calc(100% + 10px);
      margin-left: -5px; }
    div.cl-course-home #sidebar {
      display: none; }
    div.cl-course-home .lists h2 {
      font-size: 1.3em; }
    div.cl-course-home .lists li {
      font-size: 1em; }
    div.cl-course-home div.cl-twocol {
      display: block;
      position: relative;
      width: 100%;
      clear: both;
      border: 0;
      padding: 5px 0 0 0; }
      div.cl-course-home div.cl-twocol > div {
        box-shadow: none;
        display: block;
        width: 100%;
        float: none;
        margin: 0;
        border: 0;
        padding: 0 0 2px 0; }
      div.cl-course-home div.cl-twocol h2 {
        padding: 5px;
        margin-top: 1px;
        margin-bottom: 1px; } }
  div.cl-course-home .skype {
    padding-left: 10px; }
  div.cl-course-home #start {
    font-size: 2.5em;
    text-align: center; }

/*# sourceMappingURL=coursehome.css.map */
