@import '../site/sass/modules/variables';
@import '../site/sass/modules/colors';

div.cl-course-home {
  padding: 0 0 1em 0;


$menubar-background: #f2f2f2;
$border-color: #cccccc;
$main-padding: $margin;
$mobile-padding: $margin-mobile;
$sidebar-width: 225px;

div.cl-main {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 0;

  > div:first-child {
   // width: 100%;
    flex: 1 1 auto;
   // position: relative;
   // vertical-align: top;
    padding: 0.25em $main-padding;
   //  padding: 0.25em $sidebar-width+$main-padding 0.25em $main-padding;
  }

  > div:nth-child(2) {
   // flex: 0 1 100px;
   // position: absolute;
   // top: 0;
   // right: $sidebar-width+$main-padding;
  }

  > div:last-child{
    flex: 0 1 $sidebar-width;
    //position: absolute;
    //top: 0;
    //right: 0;
    //width: $sidebar-width;
    //padding: 0 $main-padding 0 0;
    box-shadow: none;

    iframe {
      box-shadow: none;
    }
  }

  div.cl-controls {
    float: right;
    margin: 0 0 0 $main-padding;
  }

  @media only screen and (max-width: $wide-width) {
    > div:first-child {
      padding: 0.25em $main-padding 0.25em $main-padding;
    }

    > div:nth-child(2) {
      right: $main-padding;
    }

    > div:last-child {
      display: none;
    }
  }

  div.cl-twocol {
    padding: $main-padding 0 0 0;
  }

  p.cl-home-control {
    text-align: center;
    margin: 0.25em 0 0.5em 0;
    width: 100px;

    button, select {
      width: 100%;
    }
  }
}

div.cl-calendar {
  @extend %shadow;
  width: 100%;
  max-width: 650px;
  margin: $main-padding auto 0 auto;
  background-color: $menubar-background;
  border: 1px $border-color solid;
  padding: 6px 4px 0 4px;

  .fc-toolbar {
    text-align: left;
    padding-left: 0.3rem;
  }
}

div.cl-twocol {
  width: 100%;
  display: flex;
  flex-direction: row;
  padding: $main-padding $main-padding 0 $main-padding;
  margin: 0;

  >div {
    @extend %shadow;
    border: 1px $border-color solid;
    padding: 0;
    width: 50%;
    margin: 0;

    p {
      padding: $main-padding;
    }
  }

  div:first-child {
    margin-right: 5px;
  }

  div:last-child {
    margin-left: 5px;
  }
}

div.cl-lists {
  padding: 0;

  h2 {
    font-family: sans-serif;
    font-size: 1.3em;
    border-bottom: none;
    background: $menubar-background;
    padding: $main-padding;
    margin: 0;

    img {
      display: none;
      vertical-align: middle;
    }
  }

  li {
    font-size: 1em;
    margin-right: 10pt;
  }

  span.staff-note {
    font-size: 0.7em;
    font-style: italic;
    white-space: nowrap;
  }
}


@media only screen and (max-width: $wide-width) {

  //#main {
  //  width: 100%;
  //  max-width: 100%;
  //
  //  .sidebar {
  //    display: none;
  //  }
  //
  //  > div.left {
  //    width: 100%;
  //    max-width: 100%;
  //    box-sizing: border-box;
  //    display: inline-block;
  //    padding: 0 $main-padding;
  //
  //    div.top {
  //      padding-right: 100px;
  //    }
  //  }
  //
  //  > div.right {
  //    display: block;
  //    padding-right: 0.25em;
  //    position: absolute;
  //    top: 0;
  //    right: $main-padding;
  //  }
  //}

  .mobile {
    display: inherit;
  }
}

@media only screen and (max-width: $medium-width) {
  body {
    width: 100%;
    max-width: 100%;
  }

  //#body {
  //  width: 100%;
  //  min-width: initial;
  //  max-width: 100%;
  //  font-size: 1em;
  //}

  div.hot {
    width: 90%;
  }

  //#main {
  //  div.cl-twocol {
  //    width: calc(100% + #{$mobile-padding * 2});
  //    margin-left: -$mobile-padding;
  //  }
  //
  //   > div.left {
  //       padding: 0 $mobile-padding 0 $mobile-padding;
  //     }
  //
  //     > div.right {
  //       right: $mobile-padding;
  //     }
  //}

  h1 {
    font-size: 1.3em;
  }

  h2 {
    font-size: 1.2em;
  }

  #calendar {
    border: 0;
    box-shadow: none;
    width: calc(100% + #{$mobile-padding * 2});
    margin-left: -$mobile-padding;
  }

  #sidebar {
    display: none;
  }

  .lists h2 {
    font-size: 1.3em;
  }

  .lists li {
    font-size: 1em;
  }

  div.cl-twocol {
    display: block;
    position: relative;
    width: 100%;
    clear: both;
    border: 0;
    padding: $mobile-padding 0 0 0;
 
    >div {
      box-shadow: none;

      display: block;
      width: 100%;
      float: none;
      margin: 0;
      border: 0;
      padding: 0 0 2px 0;
    }

    h2 {
      padding: $mobile-padding;
      margin-top: 1px;
      margin-bottom: 1px;
    }
  }

}

.skype {
  padding-left: 10px;
}

#start {
  font-size: 2.5em;
  text-align: center;
}


}