div.cl-submission form.file, div.cl-submission-view form.file, div.cl-submission figure.cl-preview, div.cl-submission-view figure.cl-preview, div.cl-submission pre.cl-preview, div.cl-submission-view pre.cl-preview, div.cl-submission pre.cl-analysis, div.cl-submission-view pre.cl-analysis {
  -moz-box-shadow: 3px 3px 8px #ccc;
  -webkit-box-shadow: 3px 3px 8px #ccc;
  box-shadow: 3px 3px 8px #ccc; }

.advice {
  background-color: #FFCC99;
  color: black;
  font-weight: bold; }

.revised {
  color: #FF0000;
  font-size: 0.85em; }

p.due {
  text-align: center;
  font-weight: bold;
  font-size: 1em;
  padding-left: 10%;
  padding-right: 10%; }

span.due {
  font-size: 0.9em;
  font-style: italic;
  font-weight: normal; }

.task {
  color: blue; }

.problem, .problemright {
  background: #e8d9b5;
  color: black; }

.scenario, .scenarioright {
  background: #c89a58;
  color: black; }
  .scenario a:link, .scenario a:visited, .scenarioright a:link, .scenarioright a:visited {
    color: black; }

p.grade {
  text-align: center;
  font-size: 1em; }

p.topnotice {
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
  margin-top: 0px;
  text-align: center;
  font-size: 1.3em;
  color: red; }

p.reading {
  text-align: center;
  vertical-align: middle; }
  p.reading span {
    padding-left: 0.5em;
    text-align: left;
    display: inline-block; }

#cl-section-selector div.cl-selector p {
  text-align: center; }
  #cl-section-selector div.cl-selector p button {
    width: 80%;
    color: black; }

div.cl-submission form button, div.cl-submission form input, div.cl-submission form textarea, div.cl-submission-view form button, div.cl-submission-view form input, div.cl-submission-view form textarea {
  color: black; }
div.cl-submission form.file, div.cl-submission-view form.file {
  margin-left: 2em;
  margin-right: 2em;
  border: 1px solid black;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  text-align: center;
  background: white;
  color: black;
  font: 9pt helvetica,sans-serif; }
  div.cl-submission form.file input[type=file], div.cl-submission-view form.file input[type=file] {
    width: 20em; }
div.cl-submission figure.cl-preview, div.cl-submission-view figure.cl-preview {
  margin: 1em 0;
  overflow: auto;
  border: 1px solid black;
  text-align: center; }
  div.cl-submission figure.cl-preview img, div.cl-submission-view figure.cl-preview img {
    max-width: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    margin: 0; }
div.cl-submission pre.cl-preview, div.cl-submission-view pre.cl-preview {
  border: thin solid black;
  min-height: 5em; }
div.cl-submission pre.cl-analysis, div.cl-submission-view pre.cl-analysis {
  font-size: 0.80em;
  border: thin solid black;
  padding: 5px;
  background-color: #ffffcc; }

div.cl-error-help {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: black; }
  div.cl-error-help input {
    display: inline-block;
    vertical-align: top; }
  div.cl-error-help input[type="text"] {
    font-size: 14px;
    width: 5em;
    height: 22px;
    margin: 0 5px 0 0; }
  div.cl-error-help input[type="submit"] {
    font-size: 11px;
    height: 22px;
    margin: 0;
    padding: 0 5px; }

div.cl-error-help-page {
  padding: 0 5px 0.1em 5px; }

/*# sourceMappingURL=course.css.map */
