div.cl-submission, div.cl-submission-view {

  form {
    button, input, textarea {
      color: black;
    }
  }

  form.file {
    @extend %shadow;
    margin-left:2em;
    margin-right:2em;
    border: 1px solid black;
    padding-top:0.5em;
    padding-bottom:0.5em;
    text-align:center;
    background: white;
    color: black;
    font: 9pt helvetica,sans-serif;

    input[type=file] {
      width: 20em;
    }
  }

  figure.cl-preview {
    @extend %shadow;
    margin: 1em 0 0 0;
    overflow: auto;
    border: 1px solid black;
    text-align: center;

    img {
      max-width: none;
      -moz-box-shadow: none;
      -webkit-box-shadow: none;
      box-shadow: none;
      margin: 0;
    }
  }

  pre.cl-preview {
    @extend %shadow;
    border: thin solid black;
    min-height: 5em;
    margin-bottom: 0;
    white-space: pre-wrap;
  }

  pre.cl-analysis {
    @extend %shadow;
    font-size: 0.80em;
    border: thin solid black;
    padding: 5px;
    background-color: #ffffcc;
  }

  p.cl-preview-time {
    text-align: center;
    font-size: 0.85em;
    font-style: italic;
    margin-top: 0.5em;
  }
}

.cl-late {
  color: red;
}