//@import '~fullcalendar/dist/fullcalendar.css';
//@import '~fullcalendar/main.css';
@import '~site-cl/sass/modules/colors';

div.cl-calendar {
  display: none;
  margin: 1em auto 1em auto;
  background-color: $very-light-primary;
  padding: 4px 4px 4px 4px;
  font-size: .82em;

  table {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none;
    margin: 0;

    th a {
      color: white;
    }

  }

  width: 100%;
  max-width: 650px;
  padding: 6px 4px 0 4px;
}

