@import '~fullcalendar/dist/fullcalendar.css';
@import '~site-cl/sass/modules/colors';

div.cl-calendar {
  display: none;
  margin: 1em auto 1em auto;
  background-color: $very-light-primary;
  padding: 4px 4px 4px 4px;

  a.fc-event {
    background-color: #005500;
    color: white;
    font-size: 0.7em;
    text-decoration: none;
  }

  a.fc-event, a.fc-event:visited, a.fc-event:link {
     color: white;
   }

  a.fc-event:hover {
    color: #ffcccc;
  }

  .fc-unthemed .fc-today {
    background-color: #aaffaa;
  }

  h2 {
    border: 0;
  }

  table {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none;
    margin: 0;

    td, th {
      padding: 0;
      border: 1px solid #ddd;
    }

    tr:first-child th {
      text-align: center;
      padding: 0;
    }


  }

}


