@import '~fullcalendar/dist/fullcalendar.css';

div.cl-calendar {
  display: none;
  margin: 1em auto 1em auto;
  background-color: #eef8ee;
  padding: 4px 4px 4px 4px;

  .fc-event {
    background-color: #005500;
    font-size: 0.7em;
  }

  .fc-unthemed .fc-today {
    background-color: #aaffaa;
  }

  h2 {
    border: 0;
  }

  table {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none;
  }

}


